@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);

.sf-alert {
    position: fixed;
    z-index: 100001;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 200px;
    width: 450px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #72grey8cc9;
    border: solid 1px #c1c1c1;
}
.sf-alert-mask {
    position: fixed;
    z-index: 100000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}
.sf-btn {
    background: #fff;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 15px;
    line-height: 3px;
    padding: 5px 15px;
    display: inline-block;
    margin-top: 4px;
}
.sf-btn:hover {
    cursor: pointer;
    border: solid 1px #b7b7b7;
    box-shadow: -1px 2px 1px rgba(113, 113, 113, 0.3);
}
.sf-yeah {
     border: solid 1px #2BB480;
    color: #2BB480;
    margin-right: 5px;
}

.sf-nope {
     border: solid 1px #d1225f;
    color: #d1225f;
    margin-left: 5px;
}

h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #728cc9;
    margin: 0 0 10px 0;
}