@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

.sf-alert {
    position: fixed;
    z-index: 100001;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 200px;
    width: 450px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #72grey8cc9;
    border: solid 1px #c1c1c1;
}
.sf-alert-mask {
    position: fixed;
    z-index: 100000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}
.sf-btn {
    background: #fff;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 15px;
    line-height: 3px;
    padding: 5px 15px;
    display: inline-block;
    margin-top: 4px;
}
.sf-btn:hover {
    cursor: pointer;
    border: solid 1px #b7b7b7;
    box-shadow: -1px 2px 1px rgba(113, 113, 113, 0.3);
}
.sf-yeah {
    border: solid 1px #2BB480;
    color: #2BB480;
    margin-right: 5px;
}
.sf-nope {
    border: solid 1px #d1225f;
    color: #d1225f;
    margin-left: 5px;
}

/* Form Styles */


#taskName {
    height: 38px;
    width: 100%;
    font-size: 18px;
    text-indent: 124px;
    position: relative;
    padding: 5px 0 5px 10px;
    box-shadow: -1px 2px 3px rgba(113, 113, 113, 0.6);
    border: solid 1px #fdfdfd;
    position: relative;
    color: #6A6A6A;
}
#taskName:focus {
    outline: none;
    box-shadow: -1px 2px 3px rgba(113, 113, 113, 0.9);
}
#stayFocusedPopup {
    width: 100%;
    position: fixed;
    height: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    z-index: 9999;
    padding: 0px;
    margin: 0px;
}
#taskCreatorSubmit {
    position: absolute;
    top: 70px;
    right: 0;
    height: 40px;
    width: 70px;
    background: none;
    border: none;
    color: #08A824;
    font-size: 14px;
    font-weight: 600;
}
#taskCreatorSubmit:hover, #taskCreatorSubmit:active {
    cursor: pointer;
    /*    border: solid 1px #b7b7b7;*/
    /*    box-shadow: -1px 2px 1px rgba(113, 113, 113, 0.3);*/
    border: solid 0px none;
    box-shadow: none;
    /*     letter-spacing: 0.05em;*/
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-name: pulse;
    animation-name: pulse;

}
.taskPreText {
    color: #8c95af;
    margin-right: 5px;
}
#stayFocusedForm {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    margin-left: -250px;
    width: 500px;
}
.placeholdertxt {
    position: absolute;
    top: 77px;
    left: 10px;
    font-size: 18px;
    color: #B3B3B3;
}

.endtask {
    position: fixed;
    /*    top:40%;*/
    bottom: 60%;
    width: 50%;
    left: 50%;
    margin-left: -25%;
}

#finishedTaskBtn {
    display: block;
    clear: both;
    background: none;
    border: solid 2px #fff;
    height: 20px;
    padding: 15px;
    width: 145px;
    line-height: 18px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-top: 4px;
    text-decoration: none;
    margin: 23px auto;
}

#finishedTaskBtn:hover {
    cursor: pointer;
    /*    background: green;*/
    /*    border: solid 2px #b7b7b7;*/
    background: rgba(0, 0, 0, 0.1);
    /*    box-shadow: -1px 2px 1px rgba(113, 113, 113, 0.3);*/
}

#finishedTaskBtn:active {
    /*     letter-spacing: 0.05em;*/
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.regtxt {
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    clear: both;
    display: block;
}

.animated {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.success {
    top: -100px;
    margin-top: 400px;
    padding: 150px 0 60px;
    background: url('greatsuccess.png') no-repeat top center;
    vertical-align: bottom;
}


/* Timer styles */
#timerWrapper {
    z-index: 999999;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: rgba(0,0,0,.65);
    color: #fff;
}
#timerCounter {

}

/* Alert Styles */
.sf-alert-wrapper {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(62, 90, 157, 0.8);
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}
.sf-alert-content {

}